In [ ]:
# Necessary imports
import pandas as pd
import numpy as np

In [ ]:
# Reading in original datasets
baseball2024_file = "https://raw.githubusercontent.com/csc442-team11/MLB-Data-Analysis/refs/heads/main/Datasets/mlb-player-stats-Batters-2024-initial.csv"
baseball2023_file = "https://raw.githubusercontent.com/csc442-team11/MLB-Data-Analysis/refs/heads/main/Datasets/mlb-player-stats-Batters-2023-initial.csv"

df_2024 = pd.read_csv(baseball2024_file)
df_2023 = pd.read_csv(baseball2023_file)

# Dirtying three columns, G (games played), SH (sacrifice bunts), SF (sacrifice flies)
# done randomly, introducing roughly 4% into each column
df_2024['G'] = np.where(np.random.rand(len(df_2024)) < 0.04, np.nan, df_2024['G'])
df_2024['SH'] = np.where(np.random.rand(len(df_2024)) < 0.04, np.nan, df_2024['SH'])
df_2024['SF'] = np.where(np.random.rand(len(df_2024)) < 0.04, np.nan, df_2024['SF'])

df_2023['G'] = np.where(np.random.rand(len(df_2023)) < 0.04, np.nan, df_2023['G'])
df_2023['SH'] = np.where(np.random.rand(len(df_2023)) < 0.04, np.nan, df_2023['SH'])
df_2023['SF'] = np.where(np.random.rand(len(df_2023)) < 0.04, np.nan, df_2023['SF'])

In [25]:
# See that missing values are introduced
display(df_2024.info())
display(df_2023.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 725 entries, 0 to 724
Data columns (total 23 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  725 non-null    object
 1   Team    725 non-null    object
 2   Pos     725 non-null    object
 3   Age     725 non-null    int64
 4   G       701 non-null    float64
 5   AB      725 non-null    int64
 6   R       725 non-null    int64
 7   H       725 non-null    int64
 8   2B      725 non-null    int64
 9   3B      725 non-null    int64
 10  HR      725 non-null    int64
 11  RBI     725 non-null    int64
 12  SB      725 non-null    int64
 13  CS      725 non-null    int64
 14  BB      725 non-null    int64
 15  SO      725 non-null    int64
 16  SH      699 non-null    float64
 17  SF      696 non-null    float64
 18  HBP     725 non-null    int64
 19  AVG     725 non-null    float64
 20  OBP     725 non-null    float64
 21  SLG     725 non-null    float64
 22  OPS     725 non-null    float64
dtypes: float64(7), int64(13), object(3)
memory usage: 130.4+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 705 entries, 0 to 704
Data columns (total 23 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  705 non-null    object
 1   Team    705 non-null    object
 2   Pos     705 non-null    object
 3   Age     705 non-null    int64
 4   G       679 non-null    float64
 5   AB      705 non-null    int64
 6   R       705 non-null    int64
 7   H       705 non-null    int64
 8   2B      705 non-null    int64
 9   3B      705 non-null    int64
 10  HR      705 non-null    int64
 11  RBI     705 non-null    int64
 12  SB      705 non-null    int64
 13  CS      705 non-null    int64
 14  BB      705 non-null    int64
 15  SO      705 non-null    int64
 16  SH      686 non-null    float64
 17  SF      677 non-null    float64
 18  HBP     705 non-null    int64
 19  AVG     705 non-null    float64
 20  OBP     705 non-null    float64
 21  SLG     705 non-null    float64
 22  OPS     705 non-null    float64
dtypes: float64(7), int64(13), object(3)
memory usage: 126.8+ KB

None

In [24]:
# Export these "now dirtied" datasets as CSVs into working directory
df_2024.to_csv('mlb-player-stats-Batters-2024-dirty.csv', index=False)
df_2023.to_csv('mlb-player-stats-Batters-2023-dirty.csv', index=False)

# we then download these on a local machine and push to Github